/* 菜单 */
.mm_menu ul {
  margin-bottom: 0.13333333rem;
  padding-top: 0.53333333rem;
  background-color: #fff;
}
.mm_menu ul li {
  width: 25%;
  float: left;
  margin-bottom: 0.4rem;
}
.mm_menu ul li a {
  display: block;
}
.mm_menu ul li a img {
  width: 1.41333333rem;
  height: 1.33333333rem;
  margin: 0 auto;
  margin-bottom: 0.13333333rem;
}
.mm_menu ul li a p {
  text-align: center;
  font-size: 0.32rem;
}
/* 推荐 */
.mm_recommend {
  padding-left: 0.26666667rem;
  padding-right: 0.90666667rem;
  height: 0.90666667rem;
  line-height: 0.90666667rem;
  background-color: #ff841d;
  position: relative;
  font-size: 0.50666667rem;
  color: #fff;
}
.mm_recommend a {
  display: block;
  position: absolute;
  top: 0;
  right: 0;
  width: 0.90666667rem;
  height: 0.90666667rem;
  background: url("../images/more.png") no-repeat;
  background-clip: content-box;
  padding: 0.18666667rem;
  background-origin: content-box;
  background-size: 100%;
}
/* 广告 */
.mm_advertisement {
  background-color: #fff;
}
.mm_advertisement li {
  border-bottom: 1px solid #ccc;
}
.mm_advertisement li a {
  background-color: #fff;
  padding-left: 2.93333333rem;
  height: 3.46666667rem;
  display: block;
  position: relative;
}
.mm_advertisement li a img {
  position: absolute;
  left: 0;
  top: 0;
  width: 2.93333333rem;
  height: 3.46666667rem;
}
.mm_advertisement li a .info {
  padding-top: 0.4rem;
  padding-left: 0.26666667rem;
  font-size: 0.4rem;
}
.mm_advertisement li a .info i {
  color: #ff841d;
}
.mm_advertisement li a .time {
  position: absolute;
  top: 2.24rem;
  left: 3.2rem;
  color: #ccc;
  font-size: 0.26666667rem;
}
.mm_advertisement li a .time i {
  padding-left: 2.53333333rem;
  text-indent: 0.32rem;
}
.mm_advertisement .discount {
  padding: 0 0.26666667rem;
  padding-top: 0.26666667rem;
  margin-bottom: 0.26666667rem;
}
.mm_advertisement .discount p {
  line-height: 0.8rem;
  height: 0.8rem;
  border: 1px solid #ccc;
  text-align: center;
  border-radius: 10px;
}
.mm_advertisement .discount p a {
  display: block;
  font-size: 0.37333333rem;
}
.mm_advertisement .rank {
  height: 0.93333333rem;
  line-height: 0.93333333rem;
  background-color: #ff841d;
  padding-left: 0.26666667rem;
  padding-right: 0.90666667rem;
  position: relative;
  color: #fff;
  font-size: 0.50666667rem;
  margin-bottom: 0.66666667rem;
}
.mm_advertisement .rank a {
  display: block;
  height: 0.90666667rem;
  width: 0.90666667rem;
  position: absolute;
  top: 0;
  right: 0;
  background: url(../images/more.png) no-repeat;
  padding: 0.18666667rem;
  background-clip: content-box;
  background-origin: content-box;
  background-size: 100%;
}
