.mm_list {
  margin-top: -0.26666667rem;
  /* 面包屑 */
  /* 物品 */
  /* 分页导航 */
}
.mm_list .choice {
  border-top: 2px solid #ccc;
  border-bottom: 2px solid #ccc;
  padding-left: 0.26666667rem;
  background: #f1f1f1;
  position: relative;
}
.mm_list .choice li {
  height: 1.01333333rem;
  line-height: 1.01333333rem;
  float: left;
  padding-right: 0.06666667rem;
  font-size: 0.4rem;
}
.mm_list .choice li a {
  display: block;
}
.mm_list .choice button {
  position: absolute;
  right: 0.21333333rem;
  top: 0.13333333rem;
  width: 1.6rem;
  height: 0.74666667rem;
  border-radius: 0.13333333rem;
  border: none;
  letter-spacing: 0.26666667rem;
  padding-left: 0.26666667rem;
  font-size: 0.4rem;
}
.mm_list .goods {
  background-color: #fff;
}
.mm_list .goods li a {
  display: block;
  height: 3.17333333rem;
  padding-left: 3.14666667rem;
  padding-top: 0.4rem;
  padding-bottom: 0.4rem;
  border-bottom: 2px solid #ccc;
  position: relative;
}
.mm_list .goods li p {
  padding-left: 0.08rem;
  font-size: 0.45333333rem;
}
.mm_list .goods li p .price {
  font-size: 0.4rem;
  color: red;
  padding-left: 0.13333333rem;
}
.mm_list .goods li p.comment span {
  font-size: 0.32rem;
  color: #b2a6a5;
  padding-right: 0.4rem;
}
.mm_list .goods li img {
  position: absolute;
  width: 3.14666667rem;
  height: 2.34666667rem;
  top: 0.4rem;
  left: 0;
  padding: 0.26666667rem;
}
.mm_list .pagination {
  padding: 0 0.61333333rem;
  padding-top: 0.26666667rem;
  padding-bottom: 0.08rem;
  position: relative;
  margin-bottom: 0.4rem;
  background-color: #fff;
}
.mm_list .pagination ul.clearfix li {
  float: left;
  width: 2.08rem;
  height: 0.96rem;
  line-height: 0.96rem;
  text-align: center;
  border-radius: 0.13333333rem;
  background-color: #f1f1f1;
}
.mm_list .pagination ul.clearfix li:nth-child(2) {
  margin: 0 1.2rem;
  border: 1px solid #ccc;
  background-color: #fff;
  border-radius: 0;
  padding-right: 0.53333333rem;
  position: relative;
}
.mm_list .pagination ul.clearfix li:nth-child(2) a {
  display: block;
}
.mm_list .pagination ul.clearfix li:nth-child(2) i {
  position: absolute;
  top: 0;
  right: 0;
  width: 0.53333333rem;
  height: 0.93333333rem;
  border-left: 1px solid #ccc;
  background-color: #f1f1f1;
  font-size: 0.53333333rem;
  vertical-align: top;
}
.mm_list .pagination .number {
  display: none;
  position: absolute;
  top: 100%;
  left: 3.89333333rem;
  border: 1px solid #ccc;
  transform: translateY(-0.08rem);
  border-bottom: none;
  border-top: none;
}
.mm_list .pagination .number li {
  background-color: #fff;
  border-bottom: 1px solid #ccc;
  width: 1.52rem;
  height: 0.66666667rem;
  line-height: 0.53333333rem;
  text-align: center;
}
.mm_list .pagination.current .number {
  display: block;
}
